:root{
    --theme-white:#ffffff;
    --theme-black:#000000;
    --theme-blue:#364253;
    --theme-orange:#EB984E;
    --theme-gray-100:#F7F8FA;
    --theme-gray-200:#6b798b;
    --theme-red:#eb4d5e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost';
}
ul, ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
i, span, label{
    display: inline-block;
}
input, textarea, select{
    outline: none;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.d-flex{
    display: flex;
}
.relative{
    position: relative;
}
.justify-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}